.Navbar {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    background-color: antiquewhite;
    width: 100vw;
    align-items: center;
    height: 3rem;
}
.Menu {
    gap: 2rem;
    display: flex;
    max-height: 1rem;
}